@import "~styles/colors";

.menuCategory {
    width: 300px;
    background-color: $gray1;
    height: 100%;

}

.menuCategoryItem {
    text-align: center;
    padding: 40px 0;
    cursor: pointer;
    border-bottom: 1px solid $gray2;
}

.active {
    color: $red1;
    border: 1px solid $red1;
}