.menu {
    display: flex;
    margin-bottom: 50px;
}

.menuList {
    width: 1200px;
    margin: 0 auto;
}
.menuListTitle {
    margin: 40px 0;
}
.menuListGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.menuListItem {
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background-color: #555555;
}

.image {
    width: 150px;
    object-fit: cover;
    height: 150px;
}

.menuCategory {
    width: 300px;
    background-color: #555555;
    height: 100%;

}

.menuCategoryItem {
    text-align: center;
    padding: 40px 0;
    cursor: pointer;
    border-bottom: 1px solid #494949;
}

.menuListName {
    font-size: 24px;
    text-align: left;
}

.menuListPrice {
    font-size: 18px;
    text-align: left;
}

.menuListQuantity {
    text-align: left;
    font-size: 22px;
    margin-top: 15px;
}
